[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/ChaiScript"]
	path = vendor/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
